.project {
  margin-bottom: 5em;
  display: flex;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.25);
}

.project-img {
  width: 60%;
  height: 100%;
  margin: auto 0;
  object-fit: contain;
}
@media only screen and (max-width: 1500px) {
  .project {
    flex-direction: column;
  }

  .project-img {
    width: 100%;
  }
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
}

.project-title {
  font-size: 2em;
  font-weight: 700;
}

.project-description {
  color: #7f8c8d;
  font-size: 1.1em;
  line-height: 1.5;
}

.project-btn {
  text-decoration: none;
  font-weight: 600;
  padding: 0.5em 1em;
  font-size: 1em;
  margin-right: 0.5em;
  color: white;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  background-color: #a777e3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.project-btn-disabled {
  background: linear-gradient(135deg, #b8c8ff, #c9aeeb);
  background-color: #c9aeeb;
  cursor: not-allowed;
}
