.navigation {
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.nav-title {
  flex: 1 1;
}

.nav-item {
  text-decoration: none;
  color: inherit;
  margin-left: 1.2em;
  font-size: 1.5em;
}

.nav-item:hover {
  cursor: pointer;
  text-decoration: underline;
}
