.navigation {
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.nav-title {
  flex: 1 1;
}

.nav-item {
  text-decoration: none;
  color: inherit;
  margin-left: 1.2em;
  font-size: 1.5em;
}

.nav-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav-buttons {
  display: flex;
}

.nav-toggle,
#nav-checkbox {
  /* Hide nav toggle unless on mobile */
  display: none;
}

@media only screen and (max-width: 1500px) {
  /* Make navigation same size as content body */
  .navigation {
    width: 80%;
  }
}

@media only screen and (max-width: 1000px) {
  /* Mobile navigation */
  .navigation {
    /* Make nave go vertical and align to left */
    width: calc(100% - 1.5em);
    padding-left: 1.5em;
    flex-direction: column;
    align-items: flex-start;
    background-color: lightgrey;
  }

  .nav-toggle {
    /* Show hamburger menu in top right */
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
  }

  .nav-buttons {
    /* Hide navigation buttons by default */
    display: none;
    flex-direction: column;
  }

  .nav-item {
    /* Give the nav buttons some padding and margin*/
    padding: 0.1em 0;
    margin: 0.3em 0;
  }

  .line {
    /* Line for hamburger menu */
    height: 4px;
    margin: 6px;
    width: 32px;
    background-color: black;
  }

  #nav-checkbox:checked ~ .nav-buttons {
    /* When hamburger is "checked", display navigation */
    display: flex;
  }
}
